.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0055ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-family: monospace;
  color: #5e6472;
}

h2 {
  font-size: 70px;
  text-align: center;
  font-family: monospace;
  color: #5e6472;
}
p {
  display: center;
  margin: 10px;
}

.buttons {
  background-color: #faf3dd;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  color: #ffa69e;
  display: center;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: none;
}

.buttons:hover {
  background-color: #ffa69e;
  color: #5e6472;
  border-radius: 10px;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sound-button {
  background-color: #faf3dd;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  color: #ffa69e;
  display: center;
  padding: 10px;
  cursor: pointer;
  border: none;
  height: 50px;
}
.sound-button:hover {
  color: #5e6472;
  border-radius: 10px;
  border: none;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.main {
  background-color: #faf3dd;
  color: #5e6472;
  font-size: 25px;
  font-family: monospace;
  text-align: center;
  padding: 50px;
  /* padding-left: 300px; */
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
}

body {
  background-color: #faf3dd;
}

.right-side {
  display: block;
}

/* .timer {
  background-color: #faf3dd;
  border: #09d3ac;
  border-radius: 80px;
} */

.timer-controllers {
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}

.controller {
  width: 150px;
  padding: 10px;
  position: relative;
}
